<aside class="col-md-4 blog-sidebar">
  <div class="p-4 mb-3 bg-light rounded">
    <h4 class="font-italic">Am I a Blogger Now?</h4>
    <p class="mb-0">I created this blog as a way of learning ruby, rails, and many other technologies. It was created in rails 6 using postgres as a database. I'm proud of how it turned out.</p>
  </div>



  <div class="p-4">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="#"><%= fa_icon "github" %></li>
      <li><a href="#"><%= fa_icon "instagram" %></li>
      <li><a href="#"><%= fa_icon "facebook" %></li>
      <li><a href="#"><%= fa_icon "twitter" %></li>  
    </ol>
  </div>
</aside>