<main role="main" class="inner cover">
  <h1 class="cover-heading">Need to Contact Me?</h1>
  <p class="lead">You can reach me at "phone number here" or through my business email at "email here". If you have this platform, I'm also available on discord, feel free to add me "discord here", as well as twitter "twitter handle".</p>
</main>
