<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome to my Front Porch!</h1>
  <p class="lead">You're looking at one of the first things I've ever built as a developer. I'm rather proud of it, as it marked a huge step forward in my career, as well as my life. Basically, this is where it all started on my journey with ruby, rails, postgres, and many other technologies. If you'd like to learn more about me, feel free to click the button below, or you may navigate using the links above. Thank you for visiting!</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>